<h1><%= title %></h1>
<dl>
  <% for(i in jobs ) { %>
    <dt><a href="<%= jobs[i]['link'] %>"><%= jobs[i]['title'] %></a></dt>
    <dd>
      <span class="<%= daysLeft(jobs[i]['pubDateTo'])['className'] %>"><%= daysLeft(jobs[i]['pubDateTo'])['text'] %></span>
      <%-jobs[i]['description'] %>
    </dd>
  <% } %>
</dl>